*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}
header {
    background-color: rgb(224, 69, 100);
    min-height: 100px;
    display: flex;
    height: 120px;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 990px;
    width: 100%;
}
  
.conteiner {
    display: flex;
    min-height: 600px;
}
aside {
    width: 200px;
    background-color: #888;
}
main {
    flex: 1;
    background-color: #999;
    
}
footer {
    background-color: crimson;
    min-height: 100px;
}
address {
    color: #fff;
    font-style: normal;
    margin: 30px;
}